@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


header h1 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.error-container {
  color: red;
  font-weight: bold;
}
.error-container * {
  display: inline-block;
}
/* button for */
#cancel-error {
  margin-right: 0.5rem;
}
/*centers content*/
.container {
  width: 80%;
  margin: 50px auto;
  font-family: 'Roboto Condensed', sans-serif;
}
/*resizes/formats buttons*/
button.accordion-element {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
/*plus sign when closed*/
button.accordion-element::after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}
/* minus sign image when open */
button.accordion-element.is-open::after {
  content: '\f056';
}
/* darkens background of button on hover and click */
button.accordion-element:hover, button.accordion-element.is-open {
  background-color: #ddd;
}
/* stuff inside accordion-element overflow:hidden hides content when closed*/
.accordion-element-content {
  padding: 0 20px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
/* takes away bullet points on ul */
ul li {
  list-style: none;
}
/* styles visit site link to look like button */
.visit-site-button {
  font: bold 11px 'Montserratt';
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.js-delete {
  cursor: pointer;
}

.js-menu {
  margin: 20px 0px;
}

form input, form textarea {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 3px;
}
form label {
  color: darkslategray;
  font-size: 16px;
}
form textarea {
  height: 100px;
}

form select {
  margin: 0 10px 10px auto;
  padding: 2px;
}
select {
  border-radius: 10px;
}

.js-add-bookmark-form {
  padding: 10px 0 10px 10px;
  background-color: peachpuff;
  width: 85%;
  border-radius: 10px;
}

button {
  background-color: salmon;
  border-radius: 10px;
}